In [1]:
import pandas as pd
import matplotlib.pyplot as plt
smokers = pd.read_csv('comparing-the-share-of-men-and-women-who-are-smoking.csv')
smokers

,Entity,Code,Year,"Smoking prevalence, females (% of adults)","Smoking prevalence, males (% of adults)","Total population (Gapminder, HYDE & UN)",Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1800,NaN,NaN,3280000.0,NaN
2,Afghanistan,AFG,1801,NaN,NaN,3280000.0,NaN
3,Afghanistan,AFG,1802,NaN,NaN,3280000.0,NaN
4,Afghanistan,AFG,1803,NaN,NaN,3280000.0,NaN
...,...,...,...,...,...,...,...
47277,Zimbabwe,ZWE,2009,NaN,NaN,12527000.0,NaN
47278,Zimbabwe,ZWE,2017,NaN,NaN,14237000.0,NaN
47279,Zimbabwe,ZWE,2018,NaN,NaN,14439000.0,NaN
47280,Zimbabwe,ZWE,2019,NaN,NaN,14645000.0,NaN
47281,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [2]:
colombiaSmokers = smokers[smokers.Entity == 'Colombia']

In [3]:
colombiaSmokers

,Entity,Code,Year,"Smoking prevalence, females (% of adults)","Smoking prevalence, males (% of adults)","Total population (Gapminder, HYDE & UN)",Continent
8751,Colombia,COL,2000,13.1,27.4,39630000.0,NaN
8752,Colombia,COL,2005,9.4,21.7,42648000.0,NaN
8753,Colombia,COL,2010,6.8,17.5,45223000.0,NaN
8754,Colombia,COL,2011,6.4,16.8,45663000.0,NaN
8755,Colombia,COL,2012,6.0,16.0,46076000.0,NaN
...,...,...,...,...,...,...,...
8966,Colombia,COL,2008,NaN,NaN,44255000.0,NaN
8967,Colombia,COL,2009,NaN,NaN,44750000.0,NaN
8968,Colombia,COL,2017,NaN,NaN,48910000.0,NaN
8969,Colombia,COL,2018,NaN,NaN,49661000.0,NaN
8970,Colombia,COL,2019,NaN,NaN,50339000.0,NaN